.main_container{
    padding-top:80px;

}

input[type="text"]{
    height:30px;

}

textarea{
    height:50px;
    width:400px;

}

td, th{
    font-size:13px;
}

.vote_num{
    font-size:120px;
    padding-top:60px;
    padding-bottom:30px;

}
