{% extends "base.html" %}
{% load url from future %}
{% load thumbnail%}
{% block content %}
<h1>Remove Vote</h1><hr />
<div class="span12">
    Are you sure you want to remove your entry 
    <strong><a href='{% url "entries:play" object.pk object.slug %}'>{{object.title}}</a></strong>?<br />
    <span class="label label-important">Warning: This is irreversible, all comment and votes for this entry will be gone!</a></span>
    <br />
    <br />

    <form method='post'>
        <input type="submit" class="btn" value="Yes, remove it"> 
        {% csrf_token %}
        <a href="{% url "profiles:submissions" %}" class="btn btn-primary">Cancel</a>
    </form>
    
</div>
{% endblock %}
