{% extends "base.html" %}
{% load url from future %}
{% load thumbnail%}
{% block content %}
<div class="span8">
    <h1>{{entry.title}}</h1>
    Author: <a href="{% url "profiles:detail" entry.user.pk %}">{{entry.user.profile.name}}</a>
    <hr />

    <div>
        [Code goes here]
        <br /><br />
    </div>

    <hr />
    {% for photo in entry.photos.all %}
    <a href='{{photo.photo.url}}' target='_blank'><img src="{% thumbnail photo.photo 100x100 crop %}" /></a>
    {% endfor %}
    <hr />
    <p>
    <strong>Description:</strong><br />
    {{entry.description}}<br /><br />
    Date submitted: {{entry.date_added}}<br />
    Tags: 
    {% for tag in entry.tag_list %}
    <span class="badge">{{tag.strip}}</span>
    {% endfor %}
    </p>
    


</div>
<div class="span4">
        <div class="row">
            <div class='pull-right'>
                <h1 class="vote_num">{{entry.votes.all.count}}</h1>
                <h2 class='pull-right'>votes</h2>
            </div>
        </div>
        <div class="row">
            <hr />
            <div class="pull-right">
                {% if can_vote %}
                <form method="post" action="{% url "entries:vote" entry.pk %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary pull-right" value="Vote {{entry.title}}">
                </form>
                {% else %}
                    {% if request.user.is_authenticated %}
                        <h3>You've voted this</h3>
                    {% else %}
                        <h3>Login to vote</h3>
                    {% endif %}
                {% endif %}
            </div>
        </div>

</div>
{% endblock %}
