{% extends "base.html" %}
{% load url from future %}
{% load thumbnail%}
{% block title %}{{entry.title}}{%endblock%}
{% comment %}
{% block body-onload-js %}resizeFrame('entry_playbox', '{{entry.zip_file.url}}_extract/index.html'){%endblock%}
{% endcomment %}
{% block content %}
<div class="span6">
    <h1>{{entry.title}}</h1>
    Author: <a href="{% url "profiles:detail" entry.user.pk %}">{{entry.user.profile.name}}</a>
</div>
<div class="span6 pull-right" style="text-align:right">
    <br />
    <form method="post" action="{% url "entries:vote" entry.pk %}">
        <span class="vote_num">{{entry.num_votes}}</span>
        <strong>votes</strong> | 
        {% csrf_token %}
        {% if can_vote %}
            <input type="submit" class="btn btn-primary" value="Vote {{entry.title}}">
        {% else %}
            {% if request.user.is_authenticated %}
                <strong>You've voted this</strong>
            {% else %}
            <strong><a href="{% url 'socialauth_begin' 'facebook' %}?next={{ request.path }}">Login to vote</a></strong>
            {% endif %}
        {% endif %}
    </form>
</div>
<div class="span12">
    <hr />
    <div id="entry_playbox">
        <iframe style='width:100%;height:600px;border:none' border='0' src='{{entry.zip_file.url}}_extract/index.html'>
        </iframe>
    </div>
</div>
<div class="span6">
    <br />
    <p>
        <strong>Description:</strong><br />
        {{entry.description}}<br /><br />
        Date submitted: {{entry.date_added}}<br />
        Tags: 
        {% for tag in entry.tag_list %}
        <span class="badge">{{tag.strip}}</span>
        {% endfor %}
    </p>
    <hr />
    <div>
        <strong>Screenshots : </strong>
    </div>
    <div> 
        {% if entry.photos.exists %}
            {% for photo in entry.photos.all %}
            <a href='{{photo.photo.url}}' target='_blank'><img src="{% thumbnail photo.photo 100x100 crop %}" /></a>
            {% endfor %}
        {% endif %}
    </div>

</div>
<div class="span6">
    <br />
    <div class="pull-right">
        <div class="fb-comments" data-href="http://{{request.get_host}}{{request.path_info}}" data-num-posts="15" data-width="460"></div>
    </div>
</div>
{% endblock %}
