{% extends "base.html" %}
{% load url from future %}
{% block content %}
<div class="span8">
    <h1>{{entry.title}}</h1>
    Author: <a href="{% url "profiles:detail" entry.user.pk %}">{{entry.user.profile.name}}</a>
    <hr />

    <div>
        [Code goes here]
        <br /><br />
    </div>

    <hr />
    [Thumbnails goes here]
    <hr />
    <p>
    <strong>Description:</strong><br />
    {{entry.description}}<br /><br />
    Date submitted: {{entry.date_added}}<br />
    Tags: {{entry.tags}}
    </p>
    


</div>
<div class="span4">
    <div class='pull-right'>
        <h1>{{entry.votes.all.count}} votes</h1>
    </div>

</div>
{% endblock %}
