{% extends "base.html" %}
{% load url from future %}
{% load thumbnail%}
{% block content %}
<h1>Remove Vote</h1><hr />
<div class="span12">
    {% if object.disabled %}
        Are you sure you want to disable your entry 
        <strong><a href='{% url "entries:play" object.pk object.slug %}'>{{object.title}}</a></strong> ?
        Once you disable your entry, no one will be able to see it excpet yourself
    {% else %}
        Are you sure you want to enable your entry 
        <strong><a href='{% url "entries:play" object.pk object.slug %}'>{{object.title}}</a></strong> ?
        Once you enable your entry, everyone will be able to see it
    {% endif %}
    <br />
    <br />

    <form method='post'>
        <input type="submit" class="btn" value="Yes, {% if object.disabled %} enable {% else %} disabled {% endif %} it"> 
        {% csrf_token %}
        <a href="{% url "profiles:submissions" %}" class="btn btn-primary">Cancel</a>
    </form>
    
</div>
{% endblock %}
