{% extends "base.html" %}
{% load flatpages %}
{% load url from future %}
{% block title %}{{flatpage.title}}{%endblock%}
{% block content %}
<div class="span2">
{% get_flatpages as flatpages %}
<strong>Also read:</strong>
<ul>
    {% for page in flatpages %}
        {% if not page.title == "home_flatpage" %}
            <li> <a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
</div>
<div class="span10">
    <h1>{{flatpage.title}}</h1><hr />
    {{flatpage.content}}
</div>
{% endblock %}
