{% extends "base.html" %}
{% block content %}
<div class="span12">
    <div class="row">
        <h1>{{profile.name}}</h1>
    </div>
    <div class="row">
        <div class="span2"><strong>Date Joined</strong></div><div class="span8">{{profile.user.date_joined}}</div>
    </div>
    <div class="row">
        <div class="span2"><strong>Username</strong></div><div class="span8">{{profile.user.username}}</div>
    </div>
    <div class="row">
        <div class="span2"><strong>Name</strong></div><div class="span8">{{profile.user.first_name}}</div>
    </div>
    <div class="row">
        <div class="span2"><strong>Total Submissions</strong></div><div class="span8">{{profile.user.entries.all.count}}</div>
    </div>
    <div class="row">
        <div class="span2"><strong>Votes Received</strong></div><div class="span8">{{votes_received}}</div>
    </div>
    <div class="row">
        <div class="span2"><strong>Votes Given</strong></div><div class="span8">{{votes_given}}</div>
    </div>
    <br />
    <br />
    <br />

    <div class="row">
        <h3>Submissions</h3>
    </div>
    
    
</div>
{% endblock %}
