{% extends "base.html" %}
{% block content %}
<div class="span12">
    <div class="row">
        <h1>{{profile.name}}</h1>
    </div>
    <div class="row">
        <div class="span2"><strong>Date Joined</strong></div><div class="span8">{{profile.user.date_joined}}</div>
    </div>
    <div class="row">
        <div class="span2"><strong>Username</strong></div><div class="span8">{{profile.user.username}}</div>
    </div>
    <div class="row">
        <div class="span2"><strong>Name</strong></div><div class="span8">{{profile.user.first_name}}</div>
    </div>
    <div class="row">
        <div class="span2"><strong>Total Submissions</strong></div><div class="span8">{{profile.user.entries.all.count}}</div>
    </div>
    <div class="row">
        <div class="span2"><strong>Votes Received</strong></div><div class="span8">{{votes_received.all.count}}</div>
    </div>
    <div class="row">
        <div class="span2"><strong>Votes Given</strong></div><div class="span8">{{votes_given.all.count}}</div>
    </div>
    <br />
    <br />
    <br />

    <div class="row">
        <h3>Submissions</h3>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Entry title</th>
                    <th>Date submitted</th>
                    <th>Votes</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in profile.user.entries.all %}
                <tr>
                    <td>{{entry.title}}</td>
                    <td>{{entry.date_added}}</td>
                    <td>{{entry.votes.all.count}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
{% endblock %}
