{% extends "base.html" %}
{% block title %}Update Profile{%endblock%}
{% block content %}
<div class="span12">
    <div class="row">
        <h1>Edit Profile</h1>
        <hr/>
    </div>
    <form method="POST" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
            <div class="control-group{% if form.name.errors %} error {% endif %}" for="id_{{form.name.name}}">
                <label class="control-label">Name</label>
                <div class="controls">
                    {{form.name}}
                    <span class="help-inline">{{ form.name.errors.0}}</span>
                </div>
            </div>
            <div class="control-group{% if form.email.errors %} error {% endif %}" for="id_{{form.email.name}}">
                <label class="control-label">Email</label>
                <div class="controls">
                    {{form.email}}
                    <span class="help-inline">{{ form.email.errors.0}} Your email will not be shown to anyone</span>
                </div>
            </div>
            <div class="control-group{% if form.bio.errors %} error {% endif %}" for="id_{{form.bio.name}}">
                <label class="control-label">Bio</label>
                <div class="controls">
                    {{form.bio}}
                    <span class="help-inline">{{form.bio.errors.0}} Your short bio, including websites and other stuff</span>
                </div>
            </div>
            <div class="control-group{% if form.photo.errors %} error {% endif %}" for="id_{{form.photo.name}}">
                <label class="control-label">Avatar</label>
                <div class="controls">
                    {{form.photo}}
                    <span class="help-inline">{{ form.photo.errors.0}}</span>
                </div>
            </div>
            {% csrf_token %}
        </fieldset>
        <input type="submit" class="btn btn-primary pull-right" value="Save">
    </form>
    
</div>
{% endblock %}
