{% extends "base.html" %}
{% load url from future %}
{% block content %}
<div class="span12">
    <div class="row">
        <h1>Your Submissions</h1><hr />
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Entry title</th>
                    <th>Date submitted</th>
                    <th>Date modified</th>
                    <th>Votes</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in request.user.entries.all %}
                <tr>
                    <td><a href='{% url "entries:play" entry.pk entry.slug %}'>{{entry.title}}</a>
                        {% if entry.disabled %}<span class="label">Disabled</span>{% endif %}
                    </td>
                    <td>{{entry.date_added}}</td>
                    <td>{{entry.date_modified}}</td>
                    <td>{{entry.num_votes}}</td>
                    <td>
                        <a href="{% url "entries:edit" entry.pk %}">Edit</a> | 
                        <a href="{% url "entries:disable" entry.pk %}">{% if entry.disabled %}Enable{% else %}Disable{% endif %}</a> | 
                        <a href="{% url "entries:delete" entry.pk %}">Remove</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
{% endblock %}
