{% load url from future %}
{% load flatpages %}
<html>
    <head>
        <title>{% block title %} {%endblock %} - {{SITE_NAME}}</title>

        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner navbar-blue">
                <div class="container">
                    <ul class="nav">
                        <li><a class="brand" href="{% url "home" %}"><strong>{{SITE_NAME}}</strong></a></li>
                    </ul>
                    <ul class="nav pull-right">
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url "entries:new" %}">Submit Entry</a></li>
                        <li><a href="{% url "profiles:detail" request.user.pk %}">My Profile</a></li>
                        <li><a href="{% url "profiles:submissions" %}">My Submissions</a></li>
                        <li><a href="{% url "entries:votes" %}">My Votes</a></li>
                        <li class="dropdown" id="user_menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" href="#user_menu">
                                {% if request.user.profile.name %}
                                    <strong>{{ request.user.profile.name }}</strong>
                                {% else %}
                                    <strong>{{ request.user.username }}</strong>
                                {% endif %}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url "profiles:update" %}">Edit Profile</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url "logout" %}">Log Out</a></li>
                            </ul>
                        </li>
                    {% else %}
                    <li><a href="{% url 'socialauth_begin' 'facebook' %}?next={{ request.path }}"><strong>Login with Facebook</strong></a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% block container %} 
            <div class="container main_container">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert {% if message.tags%}alert-{{message.tags}}{%endif%}"> 
                        {{message}}
                    </div>
                    {% endfor %}
                {% endif %}
                <div class="row">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %} 

        <div class='container'>
            <div class='row'>
            <hr />
            <div class='span6'>
                {% get_flatpages as flatpages %}
                    {% for page in flatpages %}
                        {% if not page.title == "home_flatpage" %}
                            <a href="{{ page.url }}">{{ page.title }}</a>&nbsp;
                        {% endif %}
                    {% endfor %}
            </div>
            <div class='span6' align='right'>
                {% comment %}
                &copy; <a href='http://twitter.com/kecebongsoft'>Dedy Purwanto</a>
                {% endcomment %}
            </div>
            </div>
        </div>


        <!-- Le javascript ================================================== -->
        <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js">
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-transition.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-alert.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-modal.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-dropdown.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-scrollspy.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-tab.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-tooltip.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-popover.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-button.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-collapse.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-carousel.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-typeahead.js"></script>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=336674819748132";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        {% block base-js %}{% endblock %}
    </body>
</html>
